:root{
    --pink:#ED7AA9;
    --blue:#24B9FF;}

*{
    box-sizing: border-box;
    margin:0;
    padding:0;}
  

html{
    font-size: 62.5%;
    font-family: 'Lato', sans-serif;
    overflow-x:hidden;}
/* mobile */
/************ inicio ****************/
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;}

main{flex-grow: 1;}
    
/************ header ****************/
header{
    width:100%;
    height: auto;}

.navbar {
    position: relative; 
    z-index: 1000; }

.navbar-nav a{color: black; }

.navbar-toggler {
    border: none; 
    background: transparent;}

.navbar-nav a:hover{
    color: white;
    background-color: #24B9FF;}


.navbar-expand-lg{
    width: 100%;
    background-color: #FFF9FB;}

header .navbar-brand img{
    width:64px;
    max-width: 238px;
    height: auto;
    margin-left: 20px;}

.header--halfStar img{
    width:56px;
    max-width: 145px;
    height: auto;
    position: absolute;
    bottom:0}


.header--halfCircle img{
    width:47px;
    max-width: 167px;
    height: auto;
    position: absolute;
    top:0;}
    
/******** Deco **********/
.deco--flower{
    width: 50px;
    max-width: 185px;
    height: auto;
    position: absolute;
    bottom: 20%;
    left: 0;}

.deco--heart{
    width:63px;
    max-width: 146px;
    position: absolute;
    top: 1;
    right: 0;}
/************** footer **************/
footer{
    margin:0;
    padding: 20px;
    width: 100%;
    height: 178px;
    background-color: #ED7AA9;
    bottom:0;
    display: flex;}

.footer-section--SM{padding: 12px; margin: 0 auto;}

.footer-section--SM p{
    font-family: 'Titan one', sans-serif;
    letter-spacing: 3px;
    color: white;
    font-size: 1.4rem;
    text-align: center;
}   

.footer-section--ig img,
.footer-section--tt img{
    width:26px;
    max-width: 42px;
    height: auto;}

.footer-section--tt{padding-top: 12px;} 
    

.footer-section--SM div a{
    color: white;
    font-size: 1.2rem;
    text-decoration: none;
    margin-left: 3px;}

/* C    A   T   A   L   O   G   O */
.catalogo-section{
    width:95%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;}

.catalogo-section h1{
    color: #ED7AA9;
    font-family: 'Titan one', sans-serif;
    font-size: 2.4rem;
    letter-spacing: 4px;
    margin-top: 20px;
    text-align: center;}

.catalogo--productos{
    border:none;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;}  

.catalogo--productos img{
    width:90px;
    max-width: 158px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;}

.pulsera--newalert{position: absolute;}
.pulsera--newalert img{
    width:41px;
    max-width: 72px;
    height: auto;
    top:0;
    left:0;}

.card-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;} 
   

.card-body h5{
    color: #ED7AA9;
    font-family: 'Titan one', sans-serif;
    font-size: 1.2rem;
    letter-spacing: 4px;
    text-align: center;}

.card-body a{
    background-color: #24B9FF;
    width:80px;
    max-width: 120px;
    color: white;
    text-align: center;
    margin:0 auto;
    margin-top: 15px;} 

.catalogo-numbers{
    width:95%;
    max-width: 100%;
    display: flex;
    flex: column;
    justify-content: center;
    margin-top: 40px;}
    
.page-item a{color: #24B9FF;}

.page-item a:active{
    background-color: #24B9FF;
    color: white;} 
  
@media (min-width:1279px){
/* Desktop: header */
    .navbar-nav {
        font-size: 1.8rem;
        margin:0 auto;}
    
        .navbar-nav {
            font-size: 1.8rem;
            margin:0 auto;
            display: flex;
            justify-content: space-around;}
    
    .navbar-nav li{
        display: flex;
        margin: auto 50px;}
           
   
    header .navbar-brand img{width:98px;}

    .header--halfStar img{width:120px;right:10%;}

    .header--halfCircle img{width:120px;right: 0;}

/* Desktop: home section */
            
     .deco--flower{width: 130px;}
             
     .deco--heart{width:156px;}

/* Desktop: Catalogo */
.catalogo-section{
    width:100%;
    display: flex;}

.catalogo-section h1{
    font-size: 3rem;
    text-align: center;
    margin-bottom: 20px;}

.catalogo--contenendor{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-items: space-between;}

.catalogo--contenendor .card{margin:50px;} 

.catalogo--productos img{width:158px;}
   

.pulsera--newalert{position: absolute;}
.pulsera--newalert img{width:72px;top:0; left:0;}
    
.card-body h5{font-size: 1.8rem;}

.card-body a{
    width:120px;
    font-size: 1.6rem;
    height: auto;}
    

.catalogo-numbers{ width:100%}  
    
.page-item a{font-size: 1.6rem;}

/* Desktop: footer */
.footer-section--SM {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    width: 100%;
    max-width: 600px;
    margin: 0 auto; }
 
  
  .footer-section--SM p {
    grid-column: 1 / 3;
    margin-bottom: 10px;
    font-size: 2rem; }
 
  
  .footer-section--ig {
    justify-self: start;
    display: flex;
    align-items: center;}
  
  
  .footer-section--tt {
    justify-self: end;
    display: flex;
    align-items: center;}
  
  
  .footer-section--ig-img,
  .footer-section--tt-img {
    margin-right: 8px;
    width: 42px;}

  
  .footer-section--SM div a{font-size: 2rem;}





     
    
    
                  
        



}

    
