:root{
    --pink:#ED7AA9;
    --blue:#24B9FF;}

*{
    box-sizing: border-box;
    margin:0;
    padding:0;}
  

html{
    font-size: 62.5%;
    font-family: 'Lato', sans-serif;
    overflow-x:hidden;}
/* mobile */
/************ inicio ****************/
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;}

main{flex-grow: 1;}

/************ header ****************/
header{
    width:100%;
    height: auto;}

.navbar {
    position: relative; 
    z-index: 1000; }

.navbar-toggler {
    border: none; 
    background: transparent;}
.navbar-nav{display: flex; flex-direction: row;}
.navbar-nav a{
    color: black;
}
.navbar-nav a:hover{
    color: white;
    background-color: #24B9FF;}
   

.navbar-expand-lg{
    width: 100%;
    background-color: #FFF9FB;}

header .navbar-brand img{
    width:64px;
    max-width: 238px;
    height: auto;
    margin-left: 20px;}

.header--halfStar img{
    width:56px;
    max-width: 145px;
    height: auto;
    position: absolute;
    bottom:0}

.header--halfCircle img{
    width:47px;
    max-width: 167px;
    height: auto;
    position: absolute;
    top:0;}
    
/************* home section **************/
.home-section{
    width:100%;
    max-width: 1280px;
    height: 370px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 0 auto;}

.deco--flower{
    width: 50px;
    max-width: 185px;
    height: auto;
    position: absolute;
    bottom: 0;
    left: 0;}

.deco--heart{
    width:63px;
    max-width: 146px;
    position: absolute;
    top: .5;
    right: 0;}

.home-section--img img{
    width: 158px;
    max-width: 364px;
    height: auto;}

.home-section--txt {
    text-align: center;
    margin-top: 20px;}
    
.home-section--txt h1{
    margin-top: 5px;
    color: black;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 15px;}

.home-section--txt h2{
    color: #ED7AA9;
    font-family: 'Titan one', sans-serif;
    font-size: 2.4rem;
    text-align: center;
    letter-spacing: 10px;
    margin-bottom: 15px;}

.home-section--txt-btn{
    background-color: #24B9FF;
    width: 120px;
    max-width: 167px;
    border-radius: 4px;
    margin: 0 auto;
    display: block;} 
    
   
.home-section--txt-btn a{
    color: white;
    text-decoration: none;
    font-size: 1.2rem;}

/************** forms ************/
.forms-section{ 
    margin-top: 12px;
    width:98%;
    max-width: 99%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 0, auto;}

.forms-section h2{
    color: #ED7AA9;
    font-size: 2.2rem;
    text-align: center; 
    font-family: 'Titan one', sans-serif;
    letter-spacing: 4px;}

.forms-section--forms{
    width:98%;
    padding:30px 0;
    margin: 0 auto;}

.mb-3{margin-top: 12px;}
    

.form-label{
    color: black;
    font-size: 1.4rem;}


.forms-btn--submit{
    width: 120px;
    background-color: #ED7AA9;
    color: white;
    font-size: 1.2rem;
    margin: 0 auto; 
    display: block;
    margin-bottom: 25px;}


.forms-btn--submit:hover{ background-color: #24B9FF;} /*! no funciona T.T */
   

/************** footer **************/
footer{
    margin:0;
    padding: 20px;
    width: 100%;
    height: 178px;
    background-color: #ED7AA9;
    bottom:0;
    display: flex;}

.footer-section--SM{
    padding: 12px; 
    margin: 0 auto; 
    display: flex;
    flex-direction: column;
    align-items: center;} *
  
.footer-section--SM p{
    font-family: 'Titan one', sans-serif;
    letter-spacing: 3px;
    color: white;
    font-size: 1.4rem;
    text-align: center;}  
 
.footer-section--ig, .footer-section--tt {
    display: flex;
    align-items: center;} 

.footer-section--tt{margin-top: 12px;}
    
.footer-section--ig img, .footer-section--tt img{
    width:26px;
    max-width: 42px;
    height: auto;}

.footer-section--SM div a{
    color: white;
    font-size: 1.2rem;
    text-decoration: none;
    margin-left: 3px;}

/******************? Nosotros *******************/
.nosotros-section h1{
    color: #ED7AA9;
    font-family: 'Titan one', sans-serif;
    font-size: 2.4rem;
    letter-spacing: 4px;
    text-align: center;
    margin-top: 20px;}
    
.nosotros--pic{
    background-color: rgba(237,122,169,.38);
    width: 100%;
    height: 252px;
    display: flex;
    margin-top: 40px;}

.nosotros--pic img{
    width:162px;
    max-width: 315px;
    height: auto;
    margin:0 auto;}

.nosotros--txt{margin: 25px 0;}
    
.nosotros--misión{margin-top: 25px;}
    
.nosotros--visión{margin-top: 25px;}
    
.nosotros--txt,.nosotros--misión p,
.nosotros--visión p{
    width: 80%;
    max-width: 100%;
    font-size: 1.2rem;
    text-align: center;
    margin-left: 10%;}

.nosotros--misión h2,
.nosotros--visión h2{
    color: #ED7AA9;
    font-family: 'Titan one', sans-serif;
    font-size: 2rem;
    letter-spacing: 4px;
    text-align: center;}

.nosotros--visión{margin-bottom: 38px;}

/*?   T    A   B   L   E   T                       */
@media(min-width:743px) and (max-width:1279) {
    header .navbar-brand img{
        width:78px;
        max-width: 238px;}
    
    .header--halfStar img{
        width:83px;
        max-width: 145px;}


    .header--halfCircle img{
        width:75px;
        max-width: 167px;}
/* Tablet: home section */
.home-section{height: 851px;}
        
.deco--flower{
        width: 115px;
        max-width: 185px;}
        
.deco--heart{
        width:120px;
        max-width: 146px;}

.home-section--img img{
        width: 240px;
        max-width: 364px;}

.home-section--txt-btn{width: 148px;} 
              
.home-section--txt-btn a{font-size: 1.6rem;} 
               
/* Tablet: forms */

.forms-section h2{font-size: 2.4rem;}
    

.forms-section--forms{width:600px;}
       

.form-label{font-size: 1.4rem;}
   
    
.forms-btn--submit{
    width: 148px;
    font-size: 1.6rem;
    margin-top: 20px;}
    
/* Tablet: Footer  */

.footer-section--SM p{font-size: 1.8rem;}
    
.footer-section--SM div a{font-size: 1.8rem;}
    
    
/******************? Nosotros *******************/
    
.nosotros--pic{
    height: 324px;
    margin-top: 100px;}

.nosotros--pic img{width:208px;} 
       
.nosotros--txt,.nosotros--misión p,
.nosotros--visión p{font-size: 1.8rem;}
    
    
.nosotros--misión h2,
.nosotros--visión h2{font-size: 2rem;}
     
}
/*?  D  E   S   K   T   O   P     */
@media(min-width:1279px){
    /* Desktop: header */
    .navbar-nav {
        font-size: 1.8rem;
        margin:0 auto;
    }
   
    header .navbar-brand img{width:98px;}

    .header--halfStar img{width:120px;right:10%;}

    .header--halfCircle img{width:120px;right: 0;}

    /* Desktop: home section */
    /*! .home-section{height: 490px;} */
            
    .deco--flower{width: 185px;}
            
    .deco--heart{width:146px;}
            
    .home-section--img img{width: 364px;}
            
    .home-section--txt-btn{width: 148px;} 
                
    .home-section--txt-btn a{font-size: 1.8rem;} 

/* Desktop: forms */
.forms-section h2{font-size: 2.4rem;}
    

.forms-section--forms{width:600px;}
       

.form-label{font-size: 1.4rem;}
   
    
.forms-btn--submit{
    width: 148px;
    font-size: 1.8rem;
    margin-top: 40px;}   
    
/* Desktop: Footer  */
.footer-section--SM {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    width: 100%;
    max-width: 600px;
    margin: 0 auto; }
 
  
  .footer-section--SM p {
    grid-column: 1 / 3;
    margin-bottom: 10px;
    font-size: 2rem;
  }
  
  .footer-section--ig {
    justify-self: start;
    display: flex;
    align-items: center;
  }
  
  .footer-section--tt {
    justify-self: end;
    display: flex;
    align-items: center;
  }
  
  .footer-section--ig-img,
  .footer-section--tt-img {
    margin-right: 8px;
    width: 42px;

  }
  .footer-section--SM div a{font-size: 2rem;}
 
        
        




}
    



